* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

.container {
  height: 100%;
  position: relative;

  .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
    background-color: #4b64c9;
    color: #f1f1f1;
    padding-inline: 15px;
    padding-block: 25px;

    .navigation-menu-container {
      display: flex;
      flex-direction: row;
      width: 50%;
      justify-content: space-around;

      .hamburger-menu-btn {
        display: none;
        cursor: pointer;
        font-size: 20px;
        transition: 0.3s;
      }

      .navigation-item-container {
        &:hover {
          cursor: pointer;
          border-right: 1px solid #4b64c9;
          width: 16%;
          border-radius: 100%;
          color: #4b64c9;
          background-color: #fff;
          padding-block: 12px;
        }
        border-right: 1px solid #fff;
        width: 16%;
        text-align: center;
        padding-block: 12px;
        transition: 0.3s;
      }
    }
  }

  .drawer {
    display: none;
    background-color: #4b64c9;
    color: #f1f1f1;
    padding: 15px;
    height: 100vh;
    width: 30%;
    position: fixed;
    top: 0;
    opacity: 0.8;
    right: -100%;
    transition: right 0.5s ease;
    &.show-drawer {
      display: flex !important;
      right: 0;
    }
  }

  @media (max-width: 1101px) {
    .header {
      .navigation-menu-container {
        justify-content: right;
        .hamburger-menu-btn {
          display: block !important;
        }

        .navigation-item-container {
          display: none;
        }
      }
    }
    .drawer {
      display: flex !important;
    }
  }
  @media (max-width: 400px) {
    .drawer {
      justify-content: right;

      width: 50%;
      opacity: 0.8;
      right: -100%; // Initially off-screen
    }
  }
}
