* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  background-color: #f4f5ff;
  color: #000000;
}

.container {
  height: 100%;
  position: relative;
}
.container .header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  color: #000000;
  padding-inline: 15px;
  padding-block: 25px;
}
.container .header .navigation-menu-container {
  display: flex;
  flex-direction: row;
  width: 50%;
  justify-content: space-around;
}
.container .header .navigation-menu-container .hamburger-menu-btn {
  display: none;
  cursor: pointer;
  font-size: 20px;
  transition: 0.3s;
}
.container .header .navigation-menu-container .navigation-item-container {
  color: #000000;
  width: 16%;
  text-align: center;
  padding-block: 12px;
  transition: 0.3s;
}
.container .header .navigation-menu-container .navigation-item-container:hover {
  cursor: pointer;
  width: 16%;
  border-radius: 100%;
  color: #ffffff;
  background-color: #0693e3;
  padding-block: 12px;
}
.container .drawer {
  display: none;
  background-color: #0693e3;
  color: #ffffff;
  padding: 15px;
  height: 100vh;
  width: 250px;
  position: fixed;
  top: 0;
  right: -120%;
  transition: right 0.5s ease;
}
.container .drawer.show-drawer {
  display: flex !important;
  right: 0;
  z-index: 1;
}
.container .drawer.show-drawer .drawer-container {
  display: flex;
  flex-direction: column;
  padding-inline: 10px;
  width: 100%;
  align-items: center;
  padding-top: 100px;
}
.container .drawer.show-drawer .drawer-container .drawer-item {
  color: #ffffff;
  border-bottom: 1px solid #0693e3;
  width: 80%;
  padding-block: 25px;
  text-align: center;
  margin-block: 5px;
  transition: 0.5s ease;
}
.container .drawer.show-drawer .drawer-container .drawer-item:hover {
  border: 1px solid #ffffff;
  border-radius: 100%;
  background-color: #ffffff;
  color: #4b64c9;
}
.container .langage-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  color: #4b64c9;
}
.container .langage-container .dropdown-container {
  width: 70px;
  border-radius: 100%;
  position: relative;
  font-family: Arial;
}
.container .langage-container .dropdown-container select {
  display: none;
}
.container .langage-container .dropdown-container .select-selected {
  background-color: #ffffff;
}
.container .langage-container .dropdown-container .select-selected:after {
  position: absolute;
  content: "";
  top: 14px;
  right: 4px;
  width: 0;
  height: 0;
  border: 6px solid transparent;
  border-color: #4b64c9 transparent transparent transparent;
}
.container .langage-container .dropdown-container .select-selected.select-arrow-active:after {
  border-color: transparent transparent #4b64c9 transparent;
  top: 7px;
}
.container .langage-container .dropdown-container .select-items div,
.container .langage-container .dropdown-container .select-selected {
  color: #4b64c9;
  padding: 8px 16px;
  border-radius: 5px;
  border: 1px solid transparent;
  border-color: transparent transparent rgba(0, 0, 0, 0.1) transparent;
  cursor: pointer;
}
.container .langage-container .dropdown-container .select-items {
  position: absolute;
  background-color: #ffffff;
  top: 100%;
  left: 0;
  right: 0;
  z-index: 99;
}
.container .langage-container .dropdown-container .select-hide {
  display: none;
}
.container .langage-container .dropdown-container .select-items div:hover,
.container .langage-container .dropdown-container .same-as-selected {
  background-color: rgba(0, 0, 0, 0.1);
}
.container .about-me-container {
  display: flex;
  width: 100%;
  flex-direction: column;
}
.container .about-me-container .section-title {
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 18px 0 18px 18px;
}
.container .about-me-container .about-me-content-container {
  display: flex;
  width: 100%;
  flex-direction: row;
  flex: 100%;
  gap: 5%;
}
.container .about-me-container .about-me-content-container .about-me-container-personal {
  display: flex;
  flex: 45%;
  flex-direction: column;
  margin-inline: 2.5%;
  background-color: #abb8c3;
  transform: translateY(0);
  transition: 0.5s ease-in-out;
}
.container .about-me-container .about-me-content-container .about-me-container-personal:hover {
  border-radius: 15px;
  background-color: #ffffff;
}
.container .about-me-container .about-me-content-container .about-me-container-personal:hover .about-me-container-personal-header-text {
  color: #0693e3 !important;
}
.container .about-me-container .about-me-content-container .about-me-container-personal:hover .about-me-container-personal-body-text {
  color: #0693e3;
}
.container .about-me-container .about-me-content-container .about-me-container-personal .about-me-container-personal-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 18px 0 18px 18px;
}
.container .about-me-container .about-me-content-container .about-me-container-personal .about-me-container-personal-header .about-me-container-personal-header-image {
  background-image: url(../images/pic_profile.jpeg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  padding: 15%;
  border-radius: 100%;
}
.container .about-me-container .about-me-content-container .about-me-container-personal .about-me-container-personal-header .about-me-container-personal-header-text {
  font-size: xxx-large;
  letter-spacing: 1px;
  color: #ffffff;
  font-weight: bolder;
  transition: 0.5s ease-in-out;
}
.container .about-me-container .about-me-content-container .about-me-container-personal .about-me-container-personal-body {
  padding: 15px;
}
.container .about-me-container .about-me-content-container .about-me-container-personal .about-me-container-personal-body .about-me-container-personal-body-text {
  font-size: 20px;
  letter-spacing: 0.3px;
  font-weight: 600;
  display: flex;
  flex-wrap: wrap;
  transition: 0.5s ease-in-out;
}
.container .about-me-container .about-me-content-container .education-item-container {
  margin-top: 62px;
  padding: 25px;
  transition: 0.5s ease-in-out;
}
.container .about-me-container .about-me-content-container .education-container {
  display: flex;
  flex: 45%;
  max-height: 400px;
  overflow: hidden;
  position: relative;
  flex-direction: column;
  background-color: #abb8c3;
  margin-inline: 2.5%;
  padding: 15px;
  height: auto;
}
.container .about-me-container .about-me-content-container .education-container:hover {
  border-radius: 15px;
  background-color: #ffffff;
}
.container .about-me-container .about-me-content-container .education-container:hover .e-option {
  color: #0693e3 !important;
}
.container .about-me-container .about-me-content-container .education-container #upButton,
.container .about-me-container .about-me-content-container .education-container #downButton {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 20px;
}
.container .about-me-container .about-me-content-container .education-container #upButton {
  left: 10px;
}
.container .about-me-container .about-me-content-container .education-container #downButton {
  right: 10px;
}
.container .about-me-container .about-me-content-container .education-container .slider {
  display: flex;
  flex-direction: column;
  transition: transform 0.5s ease-in-out;
}
.container .about-me-container .about-me-content-container .education-container .slider .slider-item {
  width: 100%;
  box-sizing: border-box;
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.5s ease-in-out, pointer-events 0.5s ease-in-out;
}
.container .about-me-container .about-me-content-container .education-container .slider .slider-item.active {
  opacity: 1;
  pointer-events: auto;
}
.container .about-me-container .about-me-content-container .education-container .education-school-header-container {
  display: flex;
  flex-direction: row;
  gap: 15px;
  align-items: center;
  justify-content: center;
}
.container .about-me-container .about-me-content-container .education-container .education-school-header-container .education-school-name {
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
}
.container .about-me-container .about-me-content-container .education-container .education-shcool-body-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.container .about-me-container .about-me-content-container .education-container .education-shcool-body-container .wrapper {
  display: flex;
  flex-direction: column;
  align-self: center;
  flex-wrap: wrap;
  width: 70%;
  gap: 15px;
  padding: 15px;
}
.container .about-me-container .about-me-content-container .education-container .education-shcool-body-container .wrapper .e-option {
  font-size: 16px;
  font-weight: 800;
  color: #000000;
  padding-right: 15px;
}
@media (max-width: 1101px) {
  .container .header .navigation-menu-container {
    justify-content: right;
    align-items: center;
  }
  .container .header .navigation-menu-container .hamburger-menu-btn {
    fill: #0693e3 !important;
    display: block !important;
  }
  .container .header .navigation-menu-container .navigation-item-container {
    display: none;
  }
  .container .drawer {
    display: flex !important;
  }
}
@media (max-width: 940px) {
  .container .education-school-img-1 {
    padding: 10% !important;
  }
}
@media (max-width: 782px) {
  .container .about-me-container-personal-header-text {
    font-size: xx-large !important;
  }
}
@media (max-width: 752px) {
  .container .about-me-container-personal-body-text {
    font-size: 16px !important;
    letter-spacing: 0.1px !important;
    font-weight: 600 !important;
    display: flex !important;
    flex-wrap: wrap !important;
  }
}
@media (max-width: 590px) {
  .container .about-me-container-personal-header-text {
    font-size: large !important;
  }
  .container .about-me-content-container {
    flex: 1 !important;
    flex-direction: column !important;
    gap: 25px !important;
  }
  .container .about-me-container-personal-header-text {
    display: flex !important;
    flex-wrap: wrap !important;
    font-size: xx-large !important;
  }
  .container .about-me-container-personal-body-text {
    font-size: 20px !important;
    letter-spacing: 0.3px !important;
    font-weight: 600 !important;
    display: flex !important;
    flex-wrap: wrap !important;
  }
}
@media (max-width: 400px) {
  .container .drawer {
    justify-content: right;
    width: 250px;
    opacity: 0.8;
    right: -1000%;
  }
}/*# sourceMappingURL=styles.css.map */